@os-blue: rgb(0, 121, 255);
@os-grey: #E6E6E6;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

*:not(.select) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button.os-button {
  border: none;
  border-radius: 5px;

  font-weight: 700;

  padding: 5px 15px;

  &:hover {
    -webkit-cursor: pointer;
    -moz-cursor: pointer;
    -ms-cursor: pointer;
    -o-cursor: pointer;
    -khtml-cursor: pointer;
    cursor: pointer;
  }

  &:active {
    opacity: .8;
  }

  &.button-blue {
    background: @os-blue;

    color: white;
  }

  &.button-grey {
    background: @os-grey;
  }

  &:disabled {
    -webkit-cursor: not-allowed;
    -moz-cursor: not-allowed;
    -ms-cursor: not-allowed;
    -o-cursor: not-allowed;
    -khtml-cursor: not-allowed;
    cursor: not-allowed;

    opacity: .6;
  }
}

div.os-progress-bar {
  border: 1px solid #E6E6E6;
  border-radius: 99px;

  height: 10px;

  overflow: hidden;

  > .bar {
    width: 8px;
    height: 100%;

    border: none;
    border-radius: 99px;

    background: @os-blue;
  }
}