.window-default {
  border: 1px solid grey;
  border-radius: 15px;

  width: 800px;
  height: 600px;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  box-shadow: 0 0 5px black;

  > .window-header {
    padding: 0 10px;

    height: 40px;

    background: #efefef;

    flex: none;

    display: flex;
    justify-content: center;
    align-items: center;

    > p.window-title {
      text-align: center;
      font-size: 15px;
      color: grey;
      font-weight: 600;
    }
  }

  > .window-body {
    background: white;

    flex: 1;
  }
}