<div class="content" window-name="system-error">
  <div class="main">
    <div class="icon-side">
      <div class="error-icon"></div>
    </div>

    <div class="text-side">
      <p>
        {{errorMessage}}
      </p>

      <div class="error-details">
        Location: {{errorLocation}}
        Code: {{errorCode}}
      </div>
    </div>
  </div>

  <div class="buttons">
    <div class="left">
      <!--  -->
    </div>

    <div class="right">
      <button class="os-button button-grey" id="close_error">
        Close
      </button>
    </div>
  </div>
</div>