.content {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;

  &#hello_world {
    > .main {
      > .os-version {
        margin-bottom: 30px;
      }

      > h1.hello-world {
        font-weight: 200;
        font-size: 50px;

        > span.aftos {
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;

          background-image: linear-gradient(90deg, rgba(0,153,255,1) 0%, rgba(64,179,255,1) 45%, rgb(132, 202, 232) 100%);

          color: transparent;
          font-weight: 500;
        }
      }
    }
  }

  &#terms {
    > .main {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      > .text {
        flex: none;
      }

      > .terms-container {
        flex: 1;

        border: solid 1px grey;

        padding: 5px;

        font-size: 14px;

        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }

  &#aftos_storage_creation {
    .os-version {
      margin-bottom: 50px;
    }

    .os-progress-bar {
      width: 150px;

      margin-bottom: 10px;
    }

    p.step-precision {
      font-size: 13px;
      font-weight: 500;
    }
  }

  > form {
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  .main {
    flex: 1;

    overflow: hidden;

    padding: 50px;

    &.centered {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h1.section-title {
      margin-bottom: 10px;
    }

    p.section-description {
      font-size: 14px;
      color: #6b6b6b;

      margin-bottom: 30px;
    }

    > .body {
      display: flex;
      column-gap: 20px;

      > .form {
        width: 33.3333334%;

        flex: none;

        input {
          width: 100%;
        }
      }

      > .right-side {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        > .icon-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 10px;

          > .session-icon {
            width: 100px;
            height: 100px;

            background: url("../images/session-icon.png") center / cover no-repeat;
          }

          > p.description {
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }

  .buttons {
    flex: none;

    display: flex;
    column-gap: 5px;

    padding: 25px;

    > .left,
    > .right {
      display: flex;
      column-gap: 5px;

      flex: 1;
    }

    .right {
      justify-content: flex-end;
    }
  }
}