@import "../../../../precepts/fonts.css";
@import "../../../../precepts/overlay.css";
@import "../../../../precepts/windows.css";

#app {
  height: 100vh;

  overflow: hidden;

  background: url("../images/wallpaper.png") center / cover no-repeat;
}